* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    background: url('../about_back.png')no-repeat center center/cover;
    font-weight: 1000;
    height: 637px;
}
body h1{
    font-weight: bolder;
}
header::before {
    content: " ";
    background: url('../front.png')no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.3;
}

.left {
    border: 2px solid green;
    display: inline-block;
}

.mid {
    /* height: 160px; */
    /* border: 2px solid yellow; */
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    margin: -8px 60px;
}
.mid ul li a{
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
}

.navigation{
    background-color: black;
    opacity: 0.7;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 833px;
    /* display: flex; */
    padding: 20px 34px;
    height: 23px;
}

.navigation li a{
    color: black;
}
.item:hover {
    transform: scale(1.3);
}

li {
    font-size: 20px;
    list-style: none;
    margin: 0px;
    padding: 15px 50px;
    cursor: pointer;
}

/* body h1{
    font-weight: bolder;
} */
.container {
    width: 1000px;
    margin: 59px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cards {
    display: flex;
    margin: 10px 10px;
    width: 745px;
}

.wrw-1,
.wrw-2,
.wrw-3 {
    margin: 10px 10px;
    display: flex;
    border: 2px solid black;
    border-radius: 10px;
    padding: 23px 10px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.para {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    margin: 10px 10px;
    align-items: center;
}

.heading{
    font-size: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px;
}